.ck-editor-sidebar-wrapper {
  display: flex;
}
.ck-editor-sidebar-wrapper .form-item__label {
  margin: 0;
  line-height: 27px;
}
.ck-editor-sidebar-wrapper .form-item {
  margin: 0;
  flex: 0 1 auto;
  min-width: 0;
  width: 100%;
}
.ck-editor-sidebar-wrapper.wideSidebar .form-item {
  max-width: calc(100% - 300px);
}
.ck-editor-sidebar-wrapper.narrowSidebar .form-item {
  max-width: calc(100% - 40px);
}
.ck-editor-sidebar-wrapper.slider-off .form-item {
  max-width: unset;
}

.ck-editor-sidebar-wrapper .ck-content:not(.ck-comment__input *) {
  min-height: 120px;
  padding-bottom: 120px;
}

/*sidebar */
.ck-editor-sidebar-wrapper.slider-off .ck-sidebar-wrapper {
  display: none;
}
.ck-editor-sidebar-wrapper.wideSidebar .ck-sidebar-wrapper,
.ck-editor-sidebar-wrapper.narrowSidebar .ck-sidebar-wrapper {
  background: var(--ck-color-toolbar-background);
  border: 1px solid var(--ck-color-toolbar-border);
  border-left: 0;
  overflow: hidden;
  margin: 1.7em 0 0 0;
  width: 100%;
}

tr.draggable .ck-editor-sidebar-wrapper .ck-sidebar-wrapper {
  margin-top: unset;
}

#block-bartik-content .ck-sidebar-wrapper.wideSidebar {
  margin: 1.35em 0 0 0;
}
.ck-editor-sidebar-wrapper.narrowSidebar .ck-sidebar-wrapper {
  max-width: 40px;
}
.ck-editor-sidebar-wrapper.wideSidebar .ck-sidebar-wrapper {
  max-width: 279px;
  padding: 0 10px;
}

/*.ck-editor-sidebar-wrapper.wideSidebar .ck-sidebar-wrapper .ck-sidebar {
  padding: 0 1px;
}*/

/*Toggle*/
.ck-sidebar-wrapper .ck-sidebar-auto-toggle-wrapper a.ck-sidebar-auto-toggle {
  display: block;
  width: calc(100% + 10px);
  height: 38.5px;
  position: relative;
  background: white;
  z-index: 10;
  padding-left: 10px;
  border-bottom: 1px solid var(--ck-color-toolbar-border);
  margin-left: -10px;
}
.ck-fullscreen-overlay .ck-sidebar-wrapper .ck-sidebar-auto-toggle-wrapper a.ck-sidebar-auto-toggle {
  width: calc(100% + 50px);
  height: 37.5px;
  margin-left: -24px;
}
.ck-editor-sidebar-wrapper.narrowSidebar .ck-sidebar-auto-toggle-wrapper a.ck-sidebar-auto-toggle {
  width: 40px;
  margin: 0;
}
.wideSidebar .ck-sidebar-wrapper a.ck-sidebar-auto-toggle {
  padding-left: 3px; /* width of the sidebar elements border */
}
.ck-fullscreen-overlay .wideSidebar .ck-sidebar-wrapper a.ck-sidebar-auto-toggle {
  padding-left: 16px;
}
.ck-sidebar-wrapper a.ck-sidebar-auto-toggle {
  padding: 0px 11px;
}
.ck-sidebar-wrapper a.ck-sidebar-auto-toggle:hover {
  text-decoration: none;
  cursor: pointer;
}

/*Toggle Icon*/
.ck-editor-sidebar-wrapper.narrowSidebar .ck-sidebar-wrapper a.ck-sidebar-auto-toggle::after,
.ck-editor-sidebar-wrapper.wideSidebar .ck-sidebar-wrapper a.ck-sidebar-auto-toggle::after {
  font-size: 26px;
  color: var(--ck-color-toolbar-border);
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.ck-editor-sidebar-wrapper.narrowSidebar .ck-sidebar-wrapper a.ck-sidebar-auto-toggle::after {
  content: url(../icons/sidebar.svg);
}
.ck-editor-sidebar-wrapper.wideSidebar .ck-sidebar-wrapper a.ck-sidebar-auto-toggle::after {
  content: url(../icons/arrow.svg);
}
